.level-container{
  width: 50%;
  display: inline-block;
}

.stat{
  font-weight: bold;
}

.stats-container{
  margin: 10px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  font-size: 0.8em;
}

.refresh-button{
  background: lightgreen;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: block;
  position: absolute;
}
