<div class="team-container">
  <div *ngIf="side==='blue'" style="font-weight: bold; color: blue">BLUE</div>
  <div *ngIf="side==='red'" style="font-weight: bold; color: red">RED</div>

  <span>PRIORITY QUEUE</span>
  <app-queue [props]="{size: 5, side: side}"></app-queue>
  <app-queue [props]="{size: 5, side: side}"></app-queue>
  <app-queue [props]="{size: 5, side: side}"></app-queue>
  <app-queue [props]="{size: 5, side: side}"></app-queue>
  <app-queue [props]="{size: 5, side: side}"></app-queue>

  <span>LOCKED IN</span>
  <app-queue [props]="{size: 5, side: side, lockedIn: true}"></app-queue>

  <app-stats></app-stats>
</div>
